#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333;
}


@media (max-width: 768px) {
  .desktop-menu { display: none; }
  .mobile-menu-button { display: block; position: absolute; right: 5%; top: 1rem; }
}